<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TO DO</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">TDs</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="life"><a href="/life">LIFE</a></li>
          <li id="work"><a href="/work">WORK</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">