<%- include('partials/header'); -%>

    <div class="row align-items-center">
    <div class="col-lg-6">
        <img src="/css/home-img.png" alt="home-img" />
    </div>
    <div class="col-lg-6 home-col">
        <h1 class="title">I made a huge TO DO list for this weekend. I just can't figure out who's going to do it.</h1>
    </div>
</div>




<%- include('partials/footer'); -%>