<%- include('partials/header'); -%>

    <div class="row align-items-center home-page">
    <div class="col-lg-6">
        <img src="/css/home-img.png" alt="home-img" />
    </div>
    <div class="col-lg-6">
        <h1 class="title">I made a huge TO DO list for this weekend. I just can't figure out who's going to do it.</h1>
        <div class="row align-items-center" style="padding: 5% 0 0 5%;">
            <div class="col text-center">
                <a class="btn btn-outline-info btn-lg" href="/logout" role="button">Log Out</a>
            </div>
        </div>
    </div>
</div>




<%- include('partials/footer'); -%>